* {
    padding: 0;
    margin: 0;
    line-height: 145%;
    text-decoration: none;
}

#logo {
    width: auto;
    height: 75px;
}
#textbox {
    display: block;
    border: 1px solid #676767;
    box-sizing: border-box; /* weil row 100% der breite hat und die border auf die breite addiert wird und sonst nicht
    dargestellt wird */
    text-align: justify;
    padding: 5px;
}
nav ul {
    list-style: none;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #00b5ad;
    line-height: 75px;
    padding: 10px;
    font-size: 24px;
    text-decoration: underline;
}
nav li a:hover {
    background-color: #555;
    color: white;
}
header > .row {
    padding: 5px;
    margin: 0;
}

hr {
    margin: 0;
}
/*
#num-table{
    margin:50px 20px;
    border:2px black dashed;
    width:99%
}
#num-table:first-child  {
    width:33%;
    text-align:center;
    border-collapse: collapse;
}
*/

.num-table {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    box-sizing: border-box;
}
.num-table th.num-table-x, th.num-table-y, th.num-table-z{
    width: 5%;
}
.num-table th.num-table-besuche, th.num-table-anmeldungen, th.num-table-speisen {
    width: 25%;
}