* {
    padding: 0;
    margin: 0;
    line-height: 145%;
    text-decoration: none;
}

#logo {
    width: auto;
    height: 75px;
}
#textbox {
    display: block;
    border: 1px solid #676767;
    box-sizing: border-box; /* weil row 100% der breite hat und die border auf die breite addiert wird und sonst nicht
    dargestellt wird */
    text-align: justify;
    padding: 5px;
}
.food-table {
    width: 100%;
}
.food-table > th {
    width: 33%;
}
/* border für erstes und letztes element*/
.food-table, tr:first-child, tr:last-child {
    border: 1px solid black;
}
/* innen border */
.food-table td + td,
th + th { border-left: 1px solid #CCCCCC; }
tr + tr { border-top: 1px solid #CCCCCC; }

nav ul {
    list-style: none;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #00b5ad;
    line-height: 75px;
    padding: 10px;
    font-size: 24px;
    text-decoration: underline;
}
nav li a:hover {
    background-color: #555;
    color: white;
}
header > .row {
    padding: 5px;
    margin: 0;
}

hr {
    margin: 0;
}